@page "/{articleName}"
@page "/"
@inject HttpClient Http
@using Microsoft.AspNetCore.Components
@using Services

@inject ArticleService articleService

<PageTitle>Index</PageTitle>
@if (ArticleName is null && articleService.ArticleNames().Any()) {
    @(new MarkupString(articleService.Content(articleService.ArticleNames().First())))
} else if (ArticleName is null) {
    <span>There is no content.</span>
} else {
    @(new MarkupString(articleService.Content(ArticleName)))
}


@code {
    [Parameter]
    public string? ArticleName { get; set; }
}
