@page "/{articleName}"
@page "/"
@inject HttpClient Http
@using Microsoft.AspNetCore.Components
@using Services

@inject ArticleService articleService

<PageTitle>Yauhen Pyl Blog</PageTitle>
@if (articleService.IsThereArticleWithName(ArticleName) && ArticleName is not null) {
    @(new MarkupString(articleService.Content(ArticleName)))
}
else if (articleService.IsThereAnyArticle())
{
    @(new MarkupString(articleService.AnyContent()))
}
else
{
    <span>There is no content.</span>
}


@code {
    [Parameter]
    public string? ArticleName { get; set; }
}
