@page "/"
@using Microsoft.AspNetCore.Components
@inject NavigationManager Navigation

<PageTitle>Index</PageTitle>

<button class="btn btn-primary" @onclick="NavigateToCounterComponent">
    Navigate to the Artcile
</button>


@* <br/>
@(new MarkupString(rowString))
@code {
    private string rowString = "";

    protected override async Task OnInitializedAsync()
    {
        var data = await Http.GetStringAsync("2010-10-16-Linq-and-Group.md");
        var MarkdownPipeline = new MarkdownPipelineBuilder()
                .UseAdvancedExtensions()
                .UseColorCode()
                .Build();
        rowString = Markdig.Markdown.ToHtml(data, MarkdownPipeline);
    }
} *@

@code {
    private void NavigateToCounterComponent()
    {
        Navigation.NavigateTo($"2010-10-16-Linq-and-Group");
    }
}
