---
layout: default
---

<div class="home">

  {{ content }}

  {%- assign news_items = site.news | sort: "date" | reverse -%}

  {%- if news_items.size > 0 -%}
    <div class="news-grid">
      {%- for item in news_items limit: 6 -%}
        <article class="news-card">
          <h3>
            <a class="post-link" href="{{ item.url | relative_url }}">
              {{ item.title | escape }}
            </a>
          </h3>
          <span class="post-meta">{{ item.date | date: "%b %-d, %Y" }}</span>
          <p>{{ item.excerpt | strip_html | truncatewords: 24 }}</p>
        </article>
      {%- endfor -%}
    </div>
  {%- endif -%}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
        </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
